body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.column {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.column:last-child {
  border-right: none;
}
